<h2>Deck Information</h2>

<table>
  <tr>
    <th>Name</th>
    <td><%= @deck.name %></td>
  </tr>

  <tr>
    <th>DeckCheck</th>
    <td><%= @deck.url %></td>
  </tr>

  <tr>
    <th>Permalink</th>
    <td><%= link_to(deck_url(@deck))  %></td>
  </tr>
  <tr>
    <th>Number of cards</th>
    <td><%= @deck.cards_amount %></td>
  </tr>
  <tr>
    <th>Download in PDF</th>
    <td><%= link_to('Download PDF', deck_url(@deck, :format => :pdf)) %></td>
  </tr>
  <tr>
    <th>In progress</th>
    <td><%= link_to('Refresh', "/decks/refresh/#{@deck.id}") %></td>
  </tr>

  <%= remote_function(:update => "options",  :url => { :action => :update_options }) %>
 <!--  periodically_call_remote(:url => 'update', :frequency => '5', :update => 'ticker') -->

</table>

<h2>Cards</h2>
<table id="cards">
<% card_rows(@deck.cards) do |card| -%>
   <%= render :partial => "cards/card", :object => card %>  
<% end -%>
</table>

